@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background-color: rgb(25, 25, 25);
    text-align: center;
    padding: 0;
    margin: 0;
  }
  h1 {
      font-family: montserrat, sans-serif;
      color: white
  }
  h2 {
      font-family: montserrat, sans-serif;
      color: #846DCF
  }
  h4 {
      font-family: montserrat, sans-serif;
      color: white
  }
  p {
      font-family: montserrat, sans-serif;
      color: white
  }
  h3 {
      font-family: montserrat, sans-serif;
      color: #846DCF    
  }
  [data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    background-color: #301934;
  }
